In [ ]:
# Cal valuation

In [4]:
from datetime import datetime
from importlib import reload
import financial_appraisal as fa

reload(fa)

current_date = datetime.now()
# 调用函数
report_date = fa.ainf_get_latest_report_date(current_date)
# start_date转成date类型
start_date = datetime.strptime('2020-03-01', '%Y-%m-%d')
result = fa.cal_valuation(['300291', '000967', '603816'], start_date, report_date)
# 按照该TYPE_ID、CALENDAR_DATE、TICKER_SYMBOL排序
result = result.sort_values(by=['TYPE_ID', 'CALENDAR_DATE', 'TICKER_SYMBOL'])
print(result)

../utils/.env.prod exists.
load result: True

2024-06-06 17:44:25,239 - utils.Database - INFO - Executing SQL:
    SELECT t4.TYPE_ID, t4.TYPE_NAME, t5.TICKER_SYMBOL, t5.SEC_SHORT_NAME, T5.EXCHANGE_CD, t5.PARTY_ID
            FROM F_DATAYES.MD_INST_TYPE@source_db_link t3
            JOIN (
                SELECT t0.TICKER_SYMBOL, t0.EXCHANGE_CD, t1.TYPE_ID, t2.TYPE_NAME, t1.INTO_DATE, t1.OUT_DATE
                FROM F_DATAYES.MD_SECURITY@source_db_link T0
                JOIN F_DATAYES.MD_INST_TYPE@source_db_link T1 ON T0.PARTY_ID = T1.PARTY_ID
                JOIN F_DATAYES.MD_TYPE@source_db_link T2 ON T1.TYPE_ID = T2.TYPE_ID
                WHERE t2.INDUSTRY = '中信行业分类'   -- 中信行业分类, GICS行业分类, 中证行业, 申万行业分类(2021)分类   等
                AND T0.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
                AND :start_date >= T1.INTO_DATE
                AND :end_date < COALESCE(T1.OUT_DATE, date '9999-12-31')
                AND t1.OUT_DATE IS NULL
                AND T0.ASSET_CLASS = 'E'
                AND TICKER_SYMBOL IN (:symbol0,:symbol1,:symbol2)
                ORDER BY t1.INTO_DATE DESC
            ) t4 ON t3.TYPE_ID = t4.TYPE_ID
            JOIN F_DATAYES.MD_SECURITY@source_db_link t5 ON t3.PARTY_ID = t5.PARTY_ID
            WHERE t5.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
            AND :end_date >= t3.INTO_DATE
            AND :end_date < COALESCE(t3.OUT_DATE, date '9999-12-31')
            AND t5.ASSET_CLASS = 'E'
              and t5.DY_USE_FLG = 1
              and LIST_STATUS_CD = 'L'
            AND t3.OUT_DATE IS NULL
    ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0), 'symbol0': '300291', 'symbol1': '000967', 'symbol2': '603816'}
2024-06-06 17:44:25,239 - utils.Database - INFO - Executing SQL:
    SELECT t4.TYPE_ID, t4.TYPE_NAME, t5.TICKER_SYMBOL, t5.SEC_SHORT_NAME, T5.EXCHANGE_CD, t5.PARTY_ID
            FROM F_DATAYES.MD_INST_TYPE@source_db_link t3
            JOIN (
                SELECT t0.TICKER_SYMBOL, t0.EXCHANGE_CD, t1.TYPE_ID, t2.TYPE_NAME, t1.INTO_DATE, t1.OUT_DATE
                FROM F_DATAYES.MD_SECURITY@source_db_link T0
                JOIN F_DATAYES.MD_INST_TYPE@source_db_link T1 ON T0.PARTY_ID = T1.PARTY_ID
                JOIN F_DATAYES.MD_TYPE@source_db_link T2 ON T1.TYPE_ID = T2.TYPE_ID
                WHERE t2.INDUSTRY = '中信行业分类'   -- 中信行业分类, GICS行业分类, 中证行业, 申万行业分类(2021)分类   等
                AND T0.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
                AND :start_date >= T1.INTO_DATE
                AND :end_date < COALESCE(T1.OUT_DATE, date '9999-12-31')
                AND t1.OUT_DATE IS NULL
                AND T0.ASSET_CLASS = 'E'
                AND TICKER_SYMBOL IN (:symbol0,:symbol1,:symbol2)
                ORDER BY t1.INTO_DATE DESC
            ) t4 ON t3.TYPE_ID = t4.TYPE_ID
            JOIN F_DATAYES.MD_SECURITY@source_db_link t5 ON t3.PARTY_ID = t5.PARTY_ID
            WHERE t5.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
            AND :end_date >= t3.INTO_DATE
            AND :end_date < COALESCE(t3.OUT_DATE, date '9999-12-31')
            AND t5.ASSET_CLASS = 'E'
              and t5.DY_USE_FLG = 1
              and LIST_STATUS_CD = 'L'
            AND t3.OUT_DATE IS NULL
    ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0), 'symbol0': '300291', 'symbol1': '000967', 'symbol2': '603816'}
2024-06-06 17:44:25,239 - utils.Database - INFO - Executing SQL:
    SELECT t4.TYPE_ID, t4.TYPE_NAME, t5.TICKER_SYMBOL, t5.SEC_SHORT_NAME, T5.EXCHANGE_CD, t5.PARTY_ID
            FROM F_DATAYES.MD_INST_TYPE@source_db_link t3
            JOIN (
                SELECT t0.TICKER_SYMBOL, t0.EXCHANGE_CD, t1.TYPE_ID, t2.TYPE_NAME, t1.INTO_DATE, t1.OUT_DATE
                FROM F_DATAYES.MD_SECURITY@source_db_link T0
                JOIN F_DATAYES.MD_INST_TYPE@source_db_link T1 ON T0.PARTY_ID = T1.PARTY_ID
                JOIN F_DATAYES.MD_TYPE@source_db_link T2 ON T1.TYPE_ID = T2.TYPE_ID
                WHERE t2.INDUSTRY = '中信行业分类'   -- 中信行业分类, GICS行业分类, 中证行业, 申万行业分类(2021)分类   等
                AND T0.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
                AND :start_date >= T1.INTO_DATE
                AND :end_date < COALESCE(T1.OUT_DATE, date '9999-12-31')
                AND t1.OUT_DATE IS NULL
                AND T0.ASSET_CLASS = 'E'
                AND TICKER_SYMBOL IN (:symbol0,:symbol1,:symbol2)
                ORDER BY t1.INTO_DATE DESC
            ) t4 ON t3.TYPE_ID = t4.TYPE_ID
            JOIN F_DATAYES.MD_SECURITY@source_db_link t5 ON t3.PARTY_ID = t5.PARTY_ID
            WHERE t5.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
            AND :end_date >= t3.INTO_DATE
            AND :end_date < COALESCE(t3.OUT_DATE, date '9999-12-31')
            AND t5.ASSET_CLASS = 'E'
              and t5.DY_USE_FLG = 1
              and LIST_STATUS_CD = 'L'
            AND t3.OUT_DATE IS NULL
    ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0), 'symbol0': '300291', 'symbol1': '000967', 'symbol2': '603816'}
2024-06-06 17:44:25,239 - utils.Database - INFO - Executing SQL:
    SELECT t4.TYPE_ID, t4.TYPE_NAME, t5.TICKER_SYMBOL, t5.SEC_SHORT_NAME, T5.EXCHANGE_CD, t5.PARTY_ID
            FROM F_DATAYES.MD_INST_TYPE@source_db_link t3
            JOIN (
                SELECT t0.TICKER_SYMBOL, t0.EXCHANGE_CD, t1.TYPE_ID, t2.TYPE_NAME, t1.INTO_DATE, t1.OUT_DATE
                FROM F_DATAYES.MD_SECURITY@source_db_link T0
                JOIN F_DATAYES.MD_INST_TYPE@source_db_link T1 ON T0.PARTY_ID = T1.PARTY_ID
                JOIN F_DATAYES.MD_TYPE@source_db_link T2 ON T1.TYPE_ID = T2.TYPE_ID
                WHERE t2.INDUSTRY = '中信行业分类'   -- 中信行业分类, GICS行业分类, 中证行业, 申万行业分类(2021)分类   等
                AND T0.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
                AND :start_date >= T1.INTO_DATE
                AND :end_date < COALESCE(T1.OUT_DATE, date '9999-12-31')
                AND t1.OUT_DATE IS NULL
                AND T0.ASSET_CLASS = 'E'
                AND TICKER_SYMBOL IN (:symbol0,:symbol1,:symbol2)
                ORDER BY t1.INTO_DATE DESC
            ) t4 ON t3.TYPE_ID = t4.TYPE_ID
            JOIN F_DATAYES.MD_SECURITY@source_db_link t5 ON t3.PARTY_ID = t5.PARTY_ID
            WHERE t5.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
            AND :end_date >= t3.INTO_DATE
            AND :end_date < COALESCE(t3.OUT_DATE, date '9999-12-31')
            AND t5.ASSET_CLASS = 'E'
              and t5.DY_USE_FLG = 1
              and LIST_STATUS_CD = 'L'
            AND t3.OUT_DATE IS NULL
    ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0), 'symbol0': '300291', 'symbol1': '000967', 'symbol2': '603816'}
INFO:utils.Database:Executing SQL:
    SELECT t4.TYPE_ID, t4.TYPE_NAME, t5.TICKER_SYMBOL, t5.SEC_SHORT_NAME, T5.EXCHANGE_CD, t5.PARTY_ID
            FROM F_DATAYES.MD_INST_TYPE@source_db_link t3
            JOIN (
                SELECT t0.TICKER_SYMBOL, t0.EXCHANGE_CD, t1.TYPE_ID, t2.TYPE_NAME, t1.INTO_DATE, t1.OUT_DATE
                FROM F_DATAYES.MD_SECURITY@source_db_link T0
                JOIN F_DATAYES.MD_INST_TYPE@source_db_link T1 ON T0.PARTY_ID = T1.PARTY_ID
                JOIN F_DATAYES.MD_TYPE@source_db_link T2 ON T1.TYPE_ID = T2.TYPE_ID
                WHERE t2.INDUSTRY = '中信行业分类'   -- 中信行业分类, GICS行业分类, 中证行业, 申万行业分类(2021)分类   等
                AND T0.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
                AND :start_date >= T1.INTO_DATE
                AND :end_date < COALESCE(T1.OUT_DATE, date '9999-12-31')
                AND t1.OUT_DATE IS NULL
                AND T0.ASSET_CLASS = 'E'
                AND TICKER_SYMBOL IN (:symbol0,:symbol1,:symbol2)
                ORDER BY t1.INTO_DATE DESC
            ) t4 ON t3.TYPE_ID = t4.TYPE_ID
            JOIN F_DATAYES.MD_SECURITY@source_db_link t5 ON t3.PARTY_ID = t5.PARTY_ID
            WHERE t5.EXCHANGE_CD IN ('XSHE', 'XSHG', 'XBEI', 'XHKG')
            AND :end_date >= t3.INTO_DATE
            AND :end_date < COALESCE(t3.OUT_DATE, date '9999-12-31')
            AND t5.ASSET_CLASS = 'E'
              and t5.DY_USE_FLG = 1
              and LIST_STATUS_CD = 'L'
            AND t3.OUT_DATE IS NULL
    ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0), 'symbol0': '300291', 'symbol1': '000967', 'symbol2': '603816'}
C:\Users\hisru\Documents\GitHub\java-study\advanced\python\python_demo\utils\Database.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_text, con=connection, params=params)
2024-06-06 17:44:25,660 - utils.Database - INFO - Executing SQL:
        SELECT MAX(CALENDAR_DATE) AS CALENDAR_DATE
                FROM F_DATAYES.md_trade_cal@source_db_link
                WHERE EXCHANGE_CD = 'XSHG'
                AND IS_OPEN = 1
                AND CALENDAR_DATE BETWEEN :start_date AND :end_date
                GROUP BY EXTRACT(YEAR FROM CALENDAR_DATE),
                CASE
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 1 AND 3 THEN 1
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 4 AND 6 THEN 2
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 7 AND 9 THEN 3
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 10 AND 12 THEN 4
                END
        ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0)}
2024-06-06 17:44:25,660 - utils.Database - INFO - Executing SQL:
        SELECT MAX(CALENDAR_DATE) AS CALENDAR_DATE
                FROM F_DATAYES.md_trade_cal@source_db_link
                WHERE EXCHANGE_CD = 'XSHG'
                AND IS_OPEN = 1
                AND CALENDAR_DATE BETWEEN :start_date AND :end_date
                GROUP BY EXTRACT(YEAR FROM CALENDAR_DATE),
                CASE
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 1 AND 3 THEN 1
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 4 AND 6 THEN 2
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 7 AND 9 THEN 3
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 10 AND 12 THEN 4
                END
        ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0)}
2024-06-06 17:44:25,660 - utils.Database - INFO - Executing SQL:
        SELECT MAX(CALENDAR_DATE) AS CALENDAR_DATE
                FROM F_DATAYES.md_trade_cal@source_db_link
                WHERE EXCHANGE_CD = 'XSHG'
                AND IS_OPEN = 1
                AND CALENDAR_DATE BETWEEN :start_date AND :end_date
                GROUP BY EXTRACT(YEAR FROM CALENDAR_DATE),
                CASE
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 1 AND 3 THEN 1
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 4 AND 6 THEN 2
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 7 AND 9 THEN 3
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 10 AND 12 THEN 4
                END
        ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0)}
2024-06-06 17:44:25,660 - utils.Database - INFO - Executing SQL:
        SELECT MAX(CALENDAR_DATE) AS CALENDAR_DATE
                FROM F_DATAYES.md_trade_cal@source_db_link
                WHERE EXCHANGE_CD = 'XSHG'
                AND IS_OPEN = 1
                AND CALENDAR_DATE BETWEEN :start_date AND :end_date
                GROUP BY EXTRACT(YEAR FROM CALENDAR_DATE),
                CASE
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 1 AND 3 THEN 1
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 4 AND 6 THEN 2
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 7 AND 9 THEN 3
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 10 AND 12 THEN 4
                END
        ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0)}
INFO:utils.Database:Executing SQL:
        SELECT MAX(CALENDAR_DATE) AS CALENDAR_DATE
                FROM F_DATAYES.md_trade_cal@source_db_link
                WHERE EXCHANGE_CD = 'XSHG'
                AND IS_OPEN = 1
                AND CALENDAR_DATE BETWEEN :start_date AND :end_date
                GROUP BY EXTRACT(YEAR FROM CALENDAR_DATE),
                CASE
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 1 AND 3 THEN 1
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 4 AND 6 THEN 2
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 7 AND 9 THEN 3
                    WHEN EXTRACT(MONTH FROM CALENDAR_DATE) BETWEEN 10 AND 12 THEN 4
                END
        ,params: {'start_date': datetime.datetime(2020, 3, 1, 0, 0), 'end_date': datetime.datetime(2024, 3, 31, 0, 0)}
2024-06-06 17:44:25,824 - utils.Database - INFO - Executing SQL:
        SELECT T0.TICKER_SYMBOL, T0.TRADE_DATE CALENDAR_DATE, T0.DIV_RATE
        FROM F_DATAYES.mkt_rank_div_yield@source_db_link T0
        WHERE T0.TICKER_SYMBOL IN (:symbol0,:symbol1,:symbol2,:symbol3,:symbol4,:symbol5,:symbol6,:symbol7,:symbol8,:symbol9,:symbol10,:symbol11,:symbol12,:symbol13,:symbol14,:symbol15,:symbol16,:symbol17,:symbol18,:symbol19,:symbol20,:symbol21,:symbol22,:symbol23,:symbol24,:symbol25,:symbol26,:symbol27,:symbol28,:symbol29,:symbol30,:symbol31,:symbol32,:symbol33,:symbol34,:symbol35,:symbol36,:symbol37,:symbol38,:symbol39,:symbol40,:symbol41,:symbol42,:symbol43,:symbol44,:symbol45,:symbol46,:symbol47,:symbol48,:symbol49,:symbol50,:symbol51,:symbol52,:symbol53,:symbol54,:symbol55,:symbol56,:symbol57,:symbol58,:symbol59,:symbol60,:symbol61,:symbol62,:symbol63,:symbol64,:symbol65,:symbol66,:symbol67,:symbol68,:symbol69,:symbol70,:symbol71,:symbol72,:symbol73,:symbol74,:symbol75,:symbol76,:symbol77,:symbol78,:symbol79,:symbol80,:symbol81,:symbol82,:symbol83,:symbol84,:symbol85,:symbol86,:symbol87,:symbol88,:symbol89,:symbol90,:symbol91,:symbol92,:symbol93,:symbol94,:symbol95,:symbol96,:symbol97,:symbol98,:symbol99,:symbol100,:symbol101,:symbol102,:symbol103,:symbol104,:symbol105,:symbol106,:symbol107,:symbol108,:symbol109,:symbol110,:symbol111,:symbol112,:symbol113,:symbol114,:symbol115,:symbol116,:symbol117,:symbol118,:symbol119,:symbol120,:symbol121,:symbol122,:symbol123,:symbol124,:symbol125,:symbol126,:symbol127,:symbol128,:symbol129,:symbol130,:symbol131,:symbol132,:symbol133,:symbol134,:symbol135,:symbol136,:symbol137,:symbol138,:symbol139,:symbol140,:symbol141,:symbol142,:symbol143,:symbol144,:symbol145,:symbol146,:symbol147,:symbol148,:symbol149,:symbol150,:symbol151,:symbol152,:symbol153,:symbol154,:symbol155,:symbol156,:symbol157)
        AND T0.TRADE_DATE IN (:date0,:date1,:date2,:date3,:date4,:date5,:date6,:date7,:date8,:date9,:date10,:date11,:date12,:date13,:date14,:date15,:date16)
        ,params: {'symbol0': '01065', 'symbol1': '01330', 'symbol2': '00895', 'symbol3': '301336', 'symbol4': '301061', 'symbol5': '301049', 'symbol6': '301288', 'symbol7': '301259', 'symbol8': '301148', 'symbol9': '001230', 'symbol10': '001323', 'symbol11': '301519', 'symbol12': '301372', 'symbol13': '301203', 'symbol14': '301265', 'symbol15': '301127', 'symbol16': '301376', 'symbol17': '300864', 'symbol18': '301109', 'symbol19': '301175', 'symbol20': '002973', 'symbol21': '300815', 'symbol22': '003039', 'symbol23': '003027', 'symbol24': '300692', 'symbol25': '300749', 'symbol26': '001330', 'symbol27': '300779', 'symbol28': '301500', 'symbol29': '300961', 'symbol30': '300867', 'symbol31': '300614', 'symbol32': '300929', 'symbol33': '300912', 'symbol34': '301305', 'symbol35': '300899', 'symbol36': '300958', 'symbol37': '301068', 'symbol38': '300854', 'symbol39': '002853', 'symbol40': '300631', 'symbol41': '300528', 'symbol42': '300425', 'symbol43': '300422', 'symbol44': '300426', 'symbol45': '300664', 'symbol46': '002739', 'symbol47': '000967', 'symbol48': '000035', 'symbol49': '000040', 'symbol50': '000068', 'symbol51': '000544', 'symbol52': '000546', 'symbol53': '000598', 'symbol54': '000605', 'symbol55': '000663', 'symbol56': '000685', 'symbol57': '000711', 'symbol58': '000802', 'symbol59': '000820', 'symbol60': '000826', 'symbol61': '000885', 'symbol62': '000890', 'symbol63': '000892', 'symbol64': '300616', 'symbol65': '300334', 'symbol66': '300335', 'symbol67': '300388', 'symbol68': '300385', 'symbol69': '002905', 'symbol70': '300262', 'symbol71': '300266', 'symbol72': '300152', 'symbol73': '002343', 'symbol74': '300133', 'symbol75': '300137', 'symbol76': '002502', 'symbol77': '300055', 'symbol78': '300056', 'symbol79': '300172', 'symbol80': '300182', 'symbol81': '300203', 'symbol82': '300187', 'symbol83': '300190', 'symbol84': '002572', 'symbol85': '002573', 'symbol86': '002210', 'symbol87': '002034', 'symbol88': '300291', 'symbol89': '002672', 'symbol90': '002658', 'symbol91': '002778', 'symbol92': '300070', 'symbol93': '300251', 'symbol94': '300027', 'symbol95': '603177', 'symbol96': '688335', 'symbol97': '688087', 'symbol98': '688466', 'symbol99': '688701', 'symbol100': '688679', 'symbol101': '688370', 'symbol102': '603610', 'symbol103': '603759', 'symbol104': '603221', 'symbol105': '603103', 'symbol106': '603709', 'symbol107': '605081', 'symbol108': '601827', 'symbol109': '605080', 'symbol110': '688156', 'symbol111': '688069', 'symbol112': '603216', 'symbol113': '688096', 'symbol114': '688178', 'symbol115': '688101', 'symbol116': '603291', 'symbol117': '601330', 'symbol118': '601200', 'symbol119': '603903', 'symbol120': '603801', 'symbol121': '603721', 'symbol122': '603326', 'symbol123': '603833', 'symbol124': '603797', 'symbol125': '603180', 'symbol126': '603200', 'symbol127': '603817', 'symbol128': '603818', 'symbol129': '603568', 'symbol130': '603313', 'symbol131': '603816', 'symbol132': '603898', 'symbol133': '603588', 'symbol134': '600977', 'symbol135': '601595', 'symbol136': '603389', 'symbol137': '603008', 'symbol138': '603126', 'symbol139': '603686', 'symbol140': '601158', 'symbol141': '601199', 'symbol142': '600283', 'symbol143': '600292', 'symbol144': '600323', 'symbol145': '600337', 'symbol146': '600715', 'symbol147': '600388', 'symbol148': '600461', 'symbol149': '600769', 'symbol150': '600796', 'symbol151': '600526', 'symbol152': '600008', 'symbol153': '600168', 'symbol154': '600187', 'symbol155': '600217', 'symbol156': '601368', 'symbol157': '600874', 'date0': Timestamp('2021-12-31 00:00:00'), 'date1': Timestamp('2021-03-31 00:00:00'), 'date2': Timestamp('2020-03-31 00:00:00'), 'date3': Timestamp('2023-03-31 00:00:00'), 'date4': Timestamp('2020-06-30 00:00:00'), 'date5': Timestamp('2020-12-31 00:00:00'), 'date6': Timestamp('2022-09-30 00:00:00'), 'date7': Timestamp('2020-09-30 00:00:00'), 'date8': Timestamp('2023-06-30 00:00:00'), 'date9': Timestamp('2022-03-31 00:00:00'), 'date10': Timestamp('2023-09-28 00:00:00'), 'date11': Timestamp('2024-03-29 00:00:00'), 'date12': Timestamp('2023-12-29 00:00:00'), 'date13': Timestamp('2022-06-30 00:00:00'), 'date14': Timestamp('2022-12-30 00:00:00'), 'date15': Timestamp('2021-09-30 00:00:00'), 'date16': Timestamp('2021-06-30 00:00:00')}
2024-06-06 17:44:25,824 - utils.Database - INFO - Executing SQL:
        SELECT T0.TICKER_SYMBOL, T0.TRADE_DATE CALENDAR_DATE, T0.DIV_RATE
        FROM F_DATAYES.mkt_rank_div_yield@source_db_link T0

           TYPE_ID TYPE_NAME TICKER_SYMBOL SEC_SHORT_NAME EXCHANGE_CD  \
818   010317040205     环保及水务        000035           中国天楹        XSHE
835   010317040205     环保及水务        000040           东旭蓝天        XSHE
852   010317040205     环保及水务        000068           华控赛格        XSHE
869   010317040205     环保及水务        000544           中原环保        XSHE
886   010317040205     环保及水务        000546           金圆股份        XSHE
...            ...       ...           ...            ...         ...
2493  010317280301        影视        600715          *ST文投        XSHG
2289  010317280301        影视        600977           中国电影        XSHG
2306  010317280301        影视        601595           上海电影        XSHG
1796  010317280301        影视        603103           横店影视        XSHG
2068  010317280301        影视        603721           中广天择        XSHG

      PARTY_ID CALENDAR_DATE  DIV_RATE      RANK  RANK_PERCENT
818         36    2020-03-31    0.0000  0.289474      0.002539
835         41    2020-03-31    2.2659  0.947368      0.008310
852         60    2020-03-31    0.0000  0.289474      0.002539
869        153    2020-03-31    3.9620  0.973684      0.008541
886        155    2020-03-31    0.6090  0.684211      0.006002
...        ...           ...       ...       ...           ...
2493      1221    2024-03-29    0.0000  0.447368      0.023546
2289     40359    2024-03-29    0.0000  0.447368      0.023546
2306     70981    2024-03-29    0.0000  0.447368      0.023546
1796     77626    2024-03-29    0.0000  0.447368      0.023546
2068    764897    2024-03-29    0.3752  0.947368      0.049861

[2686 rows x 10 columns]

C:\Users\hisru\Documents\GitHub\java-study\advanced\python\python_demo\jupyter_notebook_demo\financial_appraisal.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_df['DIV_RATE'].fillna(0, inplace=True)